<h3>{{ product['name'] }}</h3>
<p>{{ product['category'] }}</p>
<p>$ {{ product['price'] }}</p>
<p>filter default : {{ product['price'] | default('sin precio', True)}}</p>
<p>
    filter safe : {{ "<h1>Hola Mundo</h1>" | safe }}
</p>
<p>
    filter truncate : {{ "Hola Mundo, esto es un filtro de producto " | truncate(5) }}
</p>
<p>
    filter count : {{ "Hola Mundo, esto es un filtro de producto " | count }}
</p>
<p>
    filter float : {{ "80" | float }}
</p>
<p>
    filter int : {{ "80.7" | int }}
</p>
<p>
    filter round : {{ 3.1415926535 | round(1) }}
</p>
<p>
    filter join : {{ ["iphone",ipad] | join(",") }}
</p>
<p>
    filter length : {{ ["iphone",ipad] | length }}
</p>
<p>
    filter toJson : { 'key':'keyyyy','value':'100'} | tojson }}
</p>
<p>
    filter global custom  : {{ 50 | mydouble }}
</p>
<p>
    filter local custom  : {{ 50 | iva }}
</p>